*{
    font-family: Arial,sans-serif;
}

body{
    background-color:rgb(219, 18, 18);
}

main{
    background-color: white;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 5px rgba(0,0,0.473);
    padding: 10px;
}